@use '../global' as *;

.l-footer {
  background-color: $color-palette-black;
  margin-top: auto;
  padding: 24px 0;
}

.l-footer__text {
  color: $color-palette-white;
  text-align: center;

  @include mxGetFontSize(12);
}
