@use '../../../../global' as *;

.p-home-background {
  background-image: url('../img/img-example-002.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: 40px;
  width: 100%;
}
