@use 'sass:math';

// Triangle
@mixin mxTriangle($width, $height, $border-color, $deg) {
  content: '';
  position: absolute;
  display: block;
  border-top: $height solid $border-color;
  border-right: math.div($width, 2) solid transparent;
  border-left: math.div($width, 2) solid transparent;
  @if ($deg != '') {
    transform: rotate($deg);
  }
  transition: 0.3s border-color, 0.3s transform;
  @content;
}
