@use '../../../global' as *;

.c-page-title {
  background-color: $color-palette-black;
  color: $color-palette-white;
  padding: 24px 0;
}

.c-page-title__text {
  @include mxGetFontSize(40);

  font-weight: $font-bold;
}
