@use '../../../global' as *;

.c-base-button:not(:root) {
  cursor: pointer;
  text-decoration: none;
  @include mxGetFontSize(20);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  position: relative;
  color: $color-palette-white;
  font-weight: $font-bold;
  background-color: $color-palette-black;
  padding: 12px 48px;
  margin: 0;
  border-radius: 100px;
  border: 1px solid $color-palette-black;
  min-width: 240px;
  transition: 0.3s color, 0.3s background-color;

  @include mxMediaQuerySm {
    min-width: 320px;
  }

  @include mxMediaQueryMd {
    @include mxGetFontSize(22);
  }

  @include mxMediaHover() {
    &:hover {
      color: $color-palette-black;
      background-color: $color-palette-white;
    }
  }
}
